/*
CSS hack for supporting Microsoft Internet Explorer
Partly based on examples from Eric Bednarz' cookbook (http://tagsoup.com)

Last updated on 2009-03-29 by Peeter P. Mõtsküla <peeterpaul@motskula.net>
*/

@media screen {
  body { overflow: hidden; margin: 0; padding: 0; height: 100% }
  #act { width: 100%; height: 100%; overflow: hidden }
  #nav { position: absolute }
  #nav form { margin: 0 }
  div.tocexploder { position: absolute; left: 0; top: 0; width: 20em; height:100%; padding-top: 4em; overflow: hidden }
  #toc { top: 0; height: 100% }
  div.txtexploder { position: absolute; left: 0; top: 0; width: 100%; height:100%; padding: 4em 0 0 20em; overflow: hidden }
  #txt { left: 0; top: 0; height: 100% }
}
